.container{
    position: fixed;
    left: 1%;
    bottom: 8%;
    z-index: 99;
}
.iconWhatsapp{
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(17, 126, 30);
    /* animation: anim1 2s infinite; */
    transition: padding 1s;
    cursor: pointer;
}
.iconPhone{
    border-radius: 50%;
    padding: 10px;
    background-color: rgb(13, 70, 149);
    /* animation: anim1 2s infinite; */
    transition: padding 1s;
    cursor: pointer;
} 

@keyframes anim1 {
    0%{
        padding: 10px;
    }
    50%{
        padding: 16px;
    }
    100%{
        padding: 10px;
    }
}