.testimonials{
    margin-top: 50px;
}
/* .imageWrapper{
    border: 1px solid black;
} */
.image{
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px;
}
.header{
    text-align: center;
    color: rgba(221, 78, 78, 0.89);
    font-size: calc(2.5rem + 1vw);
    font-weight: 600;
}

